// fonts
$mainFont: TT Norms;
$logoFont: TT Norms Medium;


// colors


//screens
$phoneX: 'min-width: 450px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$projector: 'min-width: 1200px';