// fonts
$mainFont: TT Norms;
$logoFont: TT Norms Medium;
$mediumFont: TT Norms Medium;


// colors
$menuColor: #3865D7;

//screens
$phoneX: 'min-width: 450px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$projector: 'min-width: 1200px';