.logo {
  display: flex;
  height: 100%;
  &__img {
    height: 56px;
  }

  &__title {
    padding-left: 15px;
    @include logo-title;
    align-self: center;
  }

  &__title-text {
    font-size: 1.1rem;
    text-transform: lowercase;
  }
}