@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nk67m1');
  src:  url('fonts/icomoon.eot?nk67m1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nk67m1') format('truetype'),
    url('fonts/icomoon.woff?nk67m1') format('woff'),
    url('fonts/icomoon.svg?nk67m1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: "\e900";
  color: #fff;
}
.icon-list:before {
  content: "\e901";
}
.icon-ruler:before {
  content: "\e902";
}
